<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Admin | Dashboard</title>

        <script>
            // Code to hide the message after two seconds
            function hideMessage() {
                var msg = document.getElementById("flashMessage");
                if (msg) {
                    setTimeout(function () {
                        msg.style.display = "none";
                    }, 2000);
                }
            }
            window.onload = hideMessage;
        </script>
    </head>

    <body style="background-color: #4D869C;">
        <div th:insert="adminNavbar.html :: navbar"></div>

        <div class="main-container container">
            <h3 class="mt-1 mb-4 p-2 text-light text-center" style="background-color: #0A6847;">Upcoming
                Quizes</h3>
        </div>
        <p class="text-center text-danger fw-bold" id="flashMessage" th:if="${msg}" th:text="${msg}"></p>

        <div class="container mb-3" th:each="test : ${testList}">

            <div class="card text-center" style="background-color: #F8D082;">
                <div class="card-body">
                    <h5 class="card-title" th:text="${test.testName}"></h5>
                    <p class="card-text fst-italic fw-light" th:text="${test.testDescription}">
                    </p>

                    <a class="btn btn-success" th:href="@{/admin/editQuiz(quizId=${test.testId})}">Edit
                        Quiz</a>
                    <a class="btn btn-danger" th:href="@{/admin/deleteQuiz(quizId=${test.testId})}"
                        onclick="return confirm('Are you sure?')">Delete
                        Quiz</a>
                </div>
            </div>
        </div>

        <!-- Inserting footer -->
        <div th:insert="footer.html :: footer">
        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>