<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Dashboard</title>
    </head>

    <body class="text-center" style="background-color: #CDE8E5;">
        <!-- Importing navbar-->
        <div th:insert="navbar.html :: navbar"></div>

        <div class="container">
            <h3 class="mt-1 mb-4 p-2 bg-success text-light">Upcoming Quizes</h3>
        </div>

        <div class="container mb-3" th:each="test : ${testList}">
            <div class="row" th:each="quiz : ${quizList}">
                <div class="col-12" th:if="${test.testId == quiz.quizId}">
                    <div class="card text-center text-light" style="background-color: #006769;">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${test.testName}">
                            </h5>
                            <p class="card-text fst-italic fw-light" th:text="${test.testDescription}">
                            </p>
                            <!-- <button type="button" class="btn btn-success"
                                formaction="window.location.href='/startQuiz'">Start Quiz</button> -->
                            <a target="_blank" class="btn btn-success"
                                th:href="@{/user/startQuiz(quizId=${quiz.quizId})}">Start
                                Quiz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Inserting footer -->
        <div th:insert=" footer.html :: footer">
        </div>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>