<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/css/result.css}">
		<title>Result Page</title>
	</head>

	<body style="background-color: #CDE8E5;">
		<!-- Importing navbar-->
		<div th:insert="navbar.html :: navbar"></div>

		<div class="container px-4 py-2">
			<h3 class="bg-danger text-center mb-2 p-2 text-light">
				My Results
			</h3>
			<table class="table text-light table-bordered" style="background-color: #006769;">
				<tr class="text-light">
					<th>Quiz Name</th>
					<th>Correct Answers</th>
					<th>Incorrect Answers</th>
				</tr>

				<tr th:each="result : ${resultList}">
					<td th:text="${result.quizName}"></td>
					<td th:text="${result.totalCorrect}"></td>
					<td th:text="${result.totalQuestions} - ${result.totalCorrect}"></td>
				</tr>
			</table>
		</div>


		<!-- Inserting footer -->
		<div th:insert="footer.html :: footer"></div>
		<!-- Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
	</body>

</html>